/* Import */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700&display=swap');


/* Global */
:root {
  /* Color */
  --color-white: #fff;
  --color-light-white: #eee;
  --color-dark-white: #bdbdbd;
  --color-grey: #777777;
  --color-dark-grey: #404040;
  --color-black: #000;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --fweight-bold: 700;
  --fweight-semi-bold: 600;
  --fweight-medium: 500;
  --fweight-regular: 400;
  --fweight-light: 300;
  --fweight-extra-light: 200;
  --fweight-thin: 100;

  /* Size */
}

/* Universal tags */
* {
  box-sizing: borderbox;
  font-family: 'Gothic A1', sans-serif;
}

/* Typography */
h1{
  font-size: var(--font-large);
  font-weight: var(--fweight-semi-bold);
  color: var(--color-black);
  margin: 16px 0;
}
h2{
  font-size: var(--font-medium);
  font-weight: var(--fweight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3{
  font-size: var(--font-regular);
  font-weight: var(--fweight-light);
  color: var(--color-black);
  margin: 8px 0;
}
p{
  font-size: var(--font-regular);
  font-weight: var(--fweight-extra-light);
  color: var(--color-black);
  margin: 8px 0;
}